@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link-underline {
    @apply relative inline-block;
  }

  .link-underline::after {
    content: "";
    @apply absolute left-0 -bottom-1 h-[2px] w-0 bg-primary transition-all duration-300;
  }

  .link-underline:hover::after {
    @apply w-full;
  }
}
/* Global */
html,
body {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  background: #142111;
  color: white;
}
